doctype html
html(lang="en")
	head
		title Demo Grunt Project
		link(href="/assets/css/main.min.css" rel="stylesheet" media="screen")
		script(type="text/javascript" src="assets/js/main.min.js")
	body
		.container
			h1 Hello World
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ratione fuga magni molestiae nesciunt, aliquam possimus voluptates, labore ipsa nihil, adipisci repellendus ipsam quasi non mollitia! Deserunt perspiciatis molestiae quis!
			each picture, index in pictures
				//- .picture(class="#{index} b-lazy" data-src=question.bg_image style="background-image: url(#{question.bg_image})")
				.picture
					img(src="#{picture.source}")
					h2 #{index}
					p #{picture.description}